# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Archivos temporales de ofimática
~$*.docx
~$*.xlsx
~$*.pptx

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# Editores
.vscode/
.idea/
*.swp
